#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chatBox{
  height: 400px;
  width: 100%;
  overflow: scroll;
}


.chip{
  width: max-content;
  max-width: 70%;
  overflow: visible;
  text-align: left;
  padding: 10px;
  background-color: rgb(190, 249, 189);
  border: 1px solid rgb(236, 248, 236);
  border-radius: 5px;
  margin-top: 5px;
}

.chipRight{
  width: max-content;
  max-width: 70%;
  overflow: visible;
  text-align: left;
  align-self: flex-end;
  padding: 10px;
  background-color: #b9b8b8;
  border: 1px solid rgb(163, 159, 159);
  border-radius: 5px;
  margin-top: 5px;
}
.messageBox{
  padding: 10px;
  width: 70%;
  border-radius: 50px;
  
}


.olineList{
  display: flex;
  flex-direction: row;
  
}

.onlineUser{
  font-size: 30px;
  text-align: left;
  border-bottom: 0.5px solid rgb(175, 174, 174);
  cursor: pointer;
  margin-top: 10px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
